.btn, .btn-flat{
    text-decoration: none;
    color: #492a24cf;
    background-color: #e7b91ca3;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;

    font-size: 14px;
    outline: 0;

}



/*.z-depth-1-half,
.btn:hover,
 {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
    					0 1px 7px 0 rgba(0,0,0,0.12),
    					0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
    			0 1px 7px 0 rgba(0,0,0,0.12),
    			0 3px 1px -1px rgba(0,0,0,0.2);
}*/

.btn, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}
.btn.small {
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    padding: 0 20px;
    margin: 5px 0px;
}

.btn:hover,
.btn-flat:hover {
	background: #fed605;
    cursor: pointer;
    color: #492a24;
}
.btn-primary:hover {
    color: #ffffff;
    background-color: #2196F3;
    cursor: pointer;
}

.btn-success:hover {
    color: #fff;
    background: #4caf50;
    cursor: pointer;
}

.btn-danger:hover {
    color: #fff;
    background: #EC407A;
    cursor: pointer;
}

.btn-primary {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    color: #ffffff;
    background-color: #64B5F6;
}

.btn-success {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    color: #ffffff;
    background-color: #66BB6A;
}

.btn-danger {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    color: #ffffff;
    background-color: #F06292;
}


.btn-flat >i,
.btn-primary >i,
.btn-success >i,
.btn-danger >i {
    float: right;
    margin-top: 7px;
    padding-left: 10px;
}