/*header {
	margin-left: 240px;
	background: #2196f3;
	background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
}*/

header.admin-main-header{
	position: fixed;
	width: calc(100% - 300px);
	background: #fff;
    border-bottom: 1px solid rgba(0,0,0,0.14);
    box-shadow: none;
    height: 64px;
    left: 300px;
    z-index: 1;
}

main.admin-content {
	position: relative;
	margin-top: 64px;
	padding-top: 50px;
	margin-bottom: 100px;
}
main.admin-content,
footer {
	margin-left: 300px;	
}

header h1 {
	margin: 0;
	color: #9E9E9E;;
	text-align: center;
	padding: 12px;
	font-weight: lighter;
	font-size: 1.5em;
	text-transform: uppercase;
	line-height: 40px;
}

