/*header {
	margin-left: 240px;
	background: #2196f3;
	background: linear-gradient(45deg, #8e24aa 0%, #ff6e40 100%);
    box-shadow: 0 6px 20px 0 rgba(255, 110, 64, 0.5);
}*/

.main-header{
    border-bottom: 1px solid rgba(0,0,0,0.14);
    box-shadow: none;
    height: 64px;
    left: 250px;
    z-index: 1;
}

main.admin-content {
	position: relative;
	/*margin-top: 64px;
	padding-top: 50px;*/
	margin-bottom: 100px;
}
main.admin-content,
footer {
	margin-left: 250px;	
}

.main-header h1 {
	margin: 0;
	color: #6e3629;
	text-align: center;
	padding: 12px;
	font-weight: 400;
	font-size: 1.1em;
	text-transform: uppercase;
	line-height: 40px;
}

