aside .sidenav {
    top: 0;
    left: 0;
    margin: 0;
    overflow: auto;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-right: 1px solid rgba(0,0,0,0.14);
    width: 300px;
    position: fixed;
    height: calc(100% + 60px);    
    backface-visibility: hidden;
    will-change: transform;
    background: #fff;

    z-index: 999;
}


.sidenav .sidebar-logo {
    height: 64px;
    border-bottom: 1px solid #dbdbdb;
    text-align: center;
    text-transform: uppercase;
}

.sidenav .sidebar-logo h1 {
    margin: 0;
    line-height: 64px;
    color: #9E9E9E;
    font-weight: lighter;
    font-size: 1.5em;
}

.sidenav>li {
    line-height: 44px;
}

.sidenav:not(.browser-default)>li {
    list-style: none;
}

.sidenav li>a>i.material-icons {
    margin: 0 15px 0 0;
}

.sidenav li>a {
    color: rgb(109, 109, 109);
    font-size: 15px;
    font-weight: 400;
    padding: 0 30px;
    display: block;
}

.sidenav li>a>i, 
.sidenav li>a>[class^="mdi-"], 
.sidenav li>a li>a>[class*="mdi-"],
.sidenav li>a>i.material-icons {
    float: left;
    height: 44px;
    line-height: 44px;
    margin: 0 10px 0 0;
    width: 24px;
    color: #492a24;
}

.sidenav .collapsible-header i, 
.sidenav.fixed .collapsible-header i {
    line-height: inherit;
}

.sidenav .collapsible-accordion {
    background-color: #FFF;
}

.sidenav .collapsible-accordion li {
padding: 0;
}

.collapsible-accordion .collapsible-header{
    padding: 0 30px;
    outline: 0;
}

.sidenav .collapsible {
    box-shadow: none;
}

.collapsible-body {
    display: none;
    border-bottom: 1px solid #ddd;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 2rem;
}

.collapsible-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    line-height: 1.5;
    padding: 1rem;
    background-color: #fff;
}

.collapsible-header i {
    width: 2rem;
    font-size: 1.6rem;
    display: inline-block;
    text-align: center;
    margin-right: 0.3rem;
}

.sidenav .collapsible-header, 
.sidenav.fixed .collapsible-header {
    background-color: transparent;
    border: none;
    line-height: inherit;
    height: inherit;
    padding: 0 27px;
    color: #492a24;
}

.sidenav .collapsible-body {
    padding: 0;
}

.sidenav .collapsible-body {
    border: 0;
    background-color: #fff;
}

.collapsible-body li a {
    font-weight: 400;
    padding: 0 37.5px 0 45px;
    font-size: 13px;
}

.collapsible li.active {
    background-color: rgb(233, 233, 233);
}

.sidenav li>a:hover {
    background-color: rgb(233, 233, 233);   
}

.collapsible-header:hover {
    background-color: rgb(233, 233, 233);     
}

.collapsible li {
    outline: 0;
}