@import "global.css";
@import "datepicker.css";
@import "dropdown.css";
@import "modal.css";
@import "header.css";
@import "sidebar.css";
@import "select.css";
@import "grid.css";
@import "button.css";
@import "timepicker.css";
@import "card.css";
@import "button.css";
@import "preloader.css";
@import "login.css";
@import "table.css";
@import "checkbox.css";
/*
new added css file
*/
@import "checkbox.css";
@import "reports.css";
@import "pagination.css";
@import "tabs.css"
/* colors
	browncolor: #492a24; 
	lightbrown: #492a24cf;
	yellow color: #e7b91c;
	yellow color dark: #e0b31c;
	text color  white
	
	light yellow #e7b91ca3
	
	// mid dark grey color #6d6d6d;
	#fed605;
	//bvkground light-grey #f5f5f5
	//border color 1px solid #e6e6e6

	background: #6e3629;

*/ 