.btn, .btn-flat{
    text-decoration: none;
    color: #6d6d6d;
    background-color: #DFDFDF;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer;

    font-size: 14px;
    outline: 0;

}



/*.z-depth-1-half,
.btn:hover,
 {
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
    					0 1px 7px 0 rgba(0,0,0,0.12),
    					0 3px 1px -1px rgba(0,0,0,0.2);
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
    			0 1px 7px 0 rgba(0,0,0,0.12),
    			0 3px 1px -1px rgba(0,0,0,0.2);
}*/

.btn, .btn-flat {
    border: none;
    border-radius: 2px;
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
	color: #545454;
	background: #9e9e9e57;
}