.card {
    overflow: hidden;
}
.card {
    border-radius: 3px;
}
.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.card .card-content {
	padding: 24px;
	border-radius: 0 0  2px 2px;
}


/*#line-chart .card-content canvas {
    width: 100% !important;
    height: 350px !important;
}*/

.cyan.darken-1 {
    background-color: #00acc1 !important;
}

.purple.darken-1{
    background-color: #9575CD !important;
}

.column.full {
    width: 100%;
}
