html {
    background: #eeeeee91;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
flex: 1 0 auto;
}

@media only screen and (min-width: 993px) {
    .container {
    width: 90%;
    }
}

span.badge {
    font-size: .7rem;
}

span.badge:hover {
    cursor: default;
}

span.btn {
    background-color: #b565c7;
}


.material-icons {
    color: #6f3eb8 !important;
}

.sidenav li>a>i.material-icons {
    margin: 0 15px 0 0;
}

.no-padding {
    padding: 0 !important;
}

@media only screen and (max-width: 992px){
    .sidenav.sidenav-fixed {
    -webkit-transform: translateX(-105%);
    transform: translateX(0%) !important;
    }
}



