.sidenav .sidebar-logo {
	background: #fff;
	top: 0;

    box-shadow: 0 1px 1px 0 rgba(49, 49, 49, 0.1);

	z-index: 2;
}

.sidenav.sidenav-fixed {
	background: #fbfbfb;
}

.sidenav .sidebar-logo {
	height: 64px;
    padding: 4px;
}
.sidenav {
	width: 240px;
}

.sidenav .sidebar-logo {
	height: 64px;
}

.sidebar-logo .admin-header {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 16px;
    font-size: 1.5em;
    color: #9e9e9e;
}


.side-menu li.active {
    background: #6c3db83b;
}

.sidenav li>a {
    color: rgb(109, 109, 109);
    font-size: 13px;
    font-weight: 400;
    padding: 0 10px;
}

.side-menu li > a i {
    width: 2rem;
    font-size: 2rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 0;
}

.side-menu li > a span {
	line-height: 2.5em;
}

.sidenav .collapsible li, 
.sidenav.fixed .collapsible li {
    padding: 0;
    margin-left: -9px;
}


.sidenav .collapsible-header {
    color: rgb(109, 109, 109);
} 

/*#sub-level-side-menu li {
    padding: 0;
    margin-left: 28px;

}
*/
.collapsible li.active {
    background-color: rgb(176, 99, 198);
}

.collapsible li.active .collapsible-header,
li.active .collapsible-header > i {
    color: #fff !important;
}

.sidenav .collapsible-body li a, 
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0px 69px;
}






