.sidenav .sidebar-logo {
	background: #fbfbfb;
	top: 0;

    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
			    0 1px 5px 0 rgba(0, 0, 0, 0.12),
			    0 3px 1px -2px rgba(0, 0, 0, 0.2);

	z-index: 2;
}

.sidenav.sidenav-fixed {
	background: #fbfbfb;
}

.sidenav .sidebar-logo {
	height: 64px;
    background: teal;
    padding: 4px;
    background: #6f3eb8 !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 
       			0 1px 5px 0 rgba(0, 0, 0, 0.12), 
        		0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.sidenav {
	width: 240px;
}

.sidenav .sidebar-logo {
	height: 64px;
}

.sidebar-logo .admin-header {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding: 8px;
    font-size: 2.5em;
}


.side-menu li.active {
    background: #6c3db83b;
}


.side-menu li > a {
	text-decoration: none;
	color: #6f3eb8;
	margin-left: 10px;
	font-size: .9em;
}

.side-menu li > a i {
    width: 2rem;
    font-size: 2rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 0;
}

.side-menu li > a span {
	line-height: 2.5em;
}

.sidenav .collapsible li, 
.sidenav.fixed .collapsible li {
    padding: 0;
    margin-left: -9px;
}


.sidenav .collapsible-header {
    color: #6f3eb8;
} 

/*#sub-level-side-menu li {
    padding: 0;
    margin-left: 28px;

}
*/
.collapsible li.active {
    background-color: rgb(176, 99, 198);
}

.collapsible li.active .collapsible-header {
    color: #fff;
}

.sidenav .collapsible-body li a, 
.sidenav.fixed .collapsible-body li a {
    padding: 0 23.5px 0px 69px;
}






